<!--
 * @Author: tang 260968235@qq.com
 * @Date: 2023-03-11 00:15:49
 * @LastEditors: tang 260968235@qq.com
 * @LastEditTime: 2023-03-11 22:34:20
 * @FilePath: \blog-js\components\header.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<nav>
    <ul class="menu">
        <li class="nav-item">
            <a href="/index.html">首页</a>
        </li>
        <li class="nav-item">
            <a href="/pages/about.html">关于</a>
        </li>
        <li class="nav-item">
            <a href="/pages/tags.html">标签</a>
        </li>
        <li class="nav-item">
            <a href="/pages/categorize.html">分类</a>
        </li>
        <li class="nav-item">
            <a href="#">资源</a>
        </li>
        <li class="nav-item">
            <a href="#">友链</a>
        </li>
    </ul>
</nav>